### Library 설치 및 import

In [1]:
# 라이브러리 import
# !pip install pandas-profiling[notebook]
import requests
import json
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

/tmp/ipykernel_23444/1523786740.py:7: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

- 아이덴티티정보 불러오기

In [2]:
url_id = 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getIdentityDataList/fc918c3668964be490f67fe52bbef49c'
response = requests.get(url_id)
contents = response.text
js = json.loads(contents)

In [3]:
js = json.loads(contents)
print(type(js)) #json타입 확인

<class 'list'>

In [4]:
js = json.loads(contents)
print(type(js)) #json타입 확인
js[:3]

<class 'list'>

[{'statusCode': '00',
  'statusMessage': 'NORMAL_CODE',
  'userId': 'PFS_0000001',
  'facilityId': 'PFS_0000001_01',
  'addressName': '경상남도 사천시',
  'itemCode': '080300'},
 {'statusCode': None,
  'statusMessage': None,
  'userId': 'PFS_0000002',
  'facilityId': 'PFS_0000002_01',
  'addressName': '전라북도 김제시',
  'itemCode': '080300'},
 {'statusCode': None,
  'statusMessage': None,
  'userId': 'PFS_0000003',
  'facilityId': 'PFS_0000003_01',
  'addressName': '경상남도 함안군',
  'itemCode': '080300'}]

In [5]:
js = json.loads(contents)
df_id = pd.DataFrame(js)
# 아이덴티티정보 테이블
df_id[:3]

  statusCode statusMessage       userId      facilityId addressName itemCode
0         00   NORMAL_CODE  PFS_0000001  PFS_0000001_01    경상남도 사천시   080300
1       None          None  PFS_0000002  PFS_0000002_01    전라북도 김제시   080300
2       None          None  PFS_0000003  PFS_0000003_01    경상남도 함안군   080300

In [6]:
# fast EDA
# profile = ProfileReport(df_id, title="Report")
# profile

ID set
- 총 892농가
- userid facilityId 1:1매칭 
- addressname 결측값 86개 
- itmecode 토마토(080300):151농가, 딸기(080400):293농가, 방토(080600):1농가

In [6]:
# df_item_list=['080400'] #딸기 농가만 남기기 294농가
# raw_id=df_id[df_id['itemCode'].isin(df_item_list)]
# print(len(df_id[(df_id['itemCode'].isin(df_item_list))&(df_id['addressName']=='null')])) #딸기 농가중엔 지역코드 결측 없음

raw_id=df_id
raw_id

,statusCode,statusMessage,userId,facilityId,addressName,itemCode
0,00,NORMAL_CODE,PFS_0000001,PFS_0000001_01,경상남도 사천시,080300
1,None,None,PFS_0000002,PFS_0000002_01,전라북도 김제시,080300
2,None,None,PFS_0000003,PFS_0000003_01,경상남도 함안군,080300
3,None,None,PFS_0000004,PFS_0000004_01,경상남도 진주시,080300
4,None,None,PFS_0000005,PFS_0000005_01,경상남도 진주시,132600
...,...,...,...,...,...,...
535,None,None,sk0085,sk0085_01,세종특별자치시 연동면,080300
536,None,None,sk0091,sk0091_01,세종특별자치시 연동면,080300
537,None,None,sk0102,sk0102_01,세종특별자치시 연동면,080300
538,None,None,sk0104,sk0104_01,세종특별자치시 연동면,080300
539,None,None,sk0118,sk0118_01,세종특별자치시 연동면,080300

- 유저농가 활용 작기 테이블 불러오기

In [7]:
df_id_list=list(raw_id['userId']) 
#df_id_list=['PFS_0000001','PFS_0000002','PFS_0000003']
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getCroppingSeasonDataList/fc918c3668964be490f67fe52bbef49c/'
list_df_cropping =[]
for i in df_id_list:
    # print(url_cropping)
    df_crop = pd.DataFrame(json.loads(requests.get(url_crop+i).text))
    df_crop['userId']=i
    list_df_cropping.append(df_crop)
df_cropping = pd.concat(list_df_cropping,ignore_index=True)
# 작기정보 테이블
df_cropping

/tmp/ipykernel_23444/2936625024.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_cropping = pd.concat(list_df_cropping,ignore_index=True)

,statusCode,statusMessage,croppingSerlNo,croppingSeasonName,itemCode,croppingDate,croppingEndDate,croppingSystem,cultivationArea,calCultivationArea,...,planSlabNum,plantDensity,standardPlantDensity,floodlightDec,leafArea,stndTemp,stndWeight,stndSolar,stndMeta,userId
0,00,NORMAL_CODE,79,데프니스_20150902,080300,2015-09-02,2016-12-31,B0004000000000000002,1180.0,3894.0,...,4.0,2.44,2.5,0.8,0.0,20.0,180.0,150.0,130.0,PFS_0000001
1,None,None,4940,2021년 토마토,080300,2021-09-13,2022-07-30,None,1785.0,5900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PFS_0000001
2,None,None,5957,2022년_토마토,080300,2022-09-21,2023-07-25,None,1785.0,5900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PFS_0000001
3,00,NORMAL_CODE,80,다볼_20150714,080300,2015-07-14,2016-12-31,B0004000000000000002,3400.0,11220.0,...,4.0,2.37,2.5,0.7,0.0,20.0,180.0,150.0,150.0,PFS_0000002
4,00,NORMAL_CODE,81,데프니스_20150902,080300,2015-09-02,2016-12-31,B0004000000000000002,1500.0,4950.0,...,2.0,2.40,2.5,0.7,0.0,18.0,180.0,100.0,130.0,PFS_0000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,00,NORMAL_CODE,44,마미리오_20160211,080300,2016-02-11,2016-12-31,B0004000000000000001,3000.0,9900.0,...,5.0,2.73,2.5,0.7,0.0,18.0,180.0,100.0,130.0,sk0102
1281,None,None,203,슈퍼탑_20160720,080300,2016-07-20,2016-12-31,B0004000000000000001,3000.0,9900.0,...,5.0,NaN,2.5,0.7,2.5,18.0,180.0,100.0,130.0,sk0102
1282,00,NORMAL_CODE,325,토마토_레드찰,080300,2016-02-11,2016-12-31,B0004000000000000002,1500.0,NaN,...,NaN,NaN,NaN,0.7,NaN,18.0,80.0,100.0,NaN,sk0104
1283,None,None,326,티티찰_2016,080300,2016-07-20,2016-12-31,B0004000000000000002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,NaN,NaN,sk0104
1284,00,NORMAL_CODE,47,244_20160202,080300,2016-02-02,2016-12-31,B0004000000000000001,3000.0,9900.0,...,5.0,2.73,2.5,0.7,0.0,18.0,180.0,100.0,130.0,sk0118

In [8]:
raw_id.to_excel(excel_writer='raw_id.xlsx')
df_cropping.to_excel(excel_writer='df_cropping.xlsx')

In [9]:
# fast EDA
# profile = ProfileReport(df_cropping, title="Report")
# profile

In [10]:
df_cropping.columns

Index(['statusCode', 'statusMessage', 'croppingSerlNo', 'croppingSeasonName',
       'itemCode', 'croppingDate', 'croppingEndDate', 'croppingSystem',
       'cultivationArea', 'calCultivationArea', 'plantNum', 'calPlantNum',
       'stemSlabNum', 'planSlabNum', 'plantDensity', 'standardPlantDensity',
       'floodlightDec', 'leafArea', 'stndTemp', 'stndWeight', 'stndSolar',
       'stndMeta', 'userId'],
      dtype='object')

In [11]:
df_cropping[['userId','croppingSerlNo','croppingDate','croppingEndDate']]

           userId croppingSerlNo croppingDate croppingEndDate
0     PFS_0000001             79   2015-09-02      2016-12-31
1     PFS_0000001           4940   2021-09-13      2022-07-30
2     PFS_0000001           5957   2022-09-21      2023-07-25
3     PFS_0000002             80   2015-07-14      2016-12-31
4     PFS_0000003             81   2015-09-02      2016-12-31
...           ...            ...          ...             ...
1280       sk0102             44   2016-02-11      2016-12-31
1281       sk0102            203   2016-07-20      2016-12-31
1282       sk0104            325   2016-02-11      2016-12-31
1283       sk0104            326   2016-07-20      2016-12-31
1284       sk0118             47   2016-02-02      2016-12-31

[1285 rows x 4 columns]

### 생육정보

- 생육정보 테이블 불러오기

In [12]:
df_cropping[['userId','croppingSerlNo','croppingDate','croppingEndDate']]
df_cropping['userId'][0]

'PFS_0000001'

In [13]:
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getStrbCultivateDataList/fc918c3668964be490f67fe52bbef49c/'
df_cropping['urlapi'] = url_crop+df_cropping['userId'].map(str)+'/'+df_cropping['croppingSerlNo'].map(str)+'/' # +df_cropping['croppingDate'].map(str)+'/'+df_cropping['croppingEndDate'].map(str)
df_cropping['urlapi'][0]

'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getStrbCultivateDataList/fc918c3668964be490f67fe52bbef49c/PFS_0000001/79/'

In [14]:
# url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getStrbCultivateDataList/fc918c3668964be490f67fe52bbef49c/'
urldata=list(df_cropping['urlapi'])
list_df_cropping =[]
for i in urldata[:1]:
    # print(i)
    try:
        df_crop = pd.DataFrame(json.loads(requests.get(i).text))
        print(df_crop)
        # df_crop['userId']=i.split('/')[-2]
        # list_df_cropping.append(df_crop)
    except json.decoder.JSONDecodeError:
        print('The string does NOT contain valid JSON')
# df_st = pd.concat(list_df_cropping,ignore_index=True)
# df_st

The string does NOT contain valid JSON

In [15]:
df_cropping

,statusCode,statusMessage,croppingSerlNo,croppingSeasonName,itemCode,croppingDate,croppingEndDate,croppingSystem,cultivationArea,calCultivationArea,...,plantDensity,standardPlantDensity,floodlightDec,leafArea,stndTemp,stndWeight,stndSolar,stndMeta,userId,urlapi
0,00,NORMAL_CODE,79,데프니스_20150902,080300,2015-09-02,2016-12-31,B0004000000000000002,1180.0,3894.0,...,2.44,2.5,0.8,0.0,20.0,180.0,150.0,130.0,PFS_0000001,http://www.smartfarmkorea.net/Agree_WS/webserv...
1,None,None,4940,2021년 토마토,080300,2021-09-13,2022-07-30,None,1785.0,5900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PFS_0000001,http://www.smartfarmkorea.net/Agree_WS/webserv...
2,None,None,5957,2022년_토마토,080300,2022-09-21,2023-07-25,None,1785.0,5900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PFS_0000001,http://www.smartfarmkorea.net/Agree_WS/webserv...
3,00,NORMAL_CODE,80,다볼_20150714,080300,2015-07-14,2016-12-31,B0004000000000000002,3400.0,11220.0,...,2.37,2.5,0.7,0.0,20.0,180.0,150.0,150.0,PFS_0000002,http://www.smartfarmkorea.net/Agree_WS/webserv...
4,00,NORMAL_CODE,81,데프니스_20150902,080300,2015-09-02,2016-12-31,B0004000000000000002,1500.0,4950.0,...,2.40,2.5,0.7,0.0,18.0,180.0,100.0,130.0,PFS_0000003,http://www.smartfarmkorea.net/Agree_WS/webserv...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,00,NORMAL_CODE,44,마미리오_20160211,080300,2016-02-11,2016-12-31,B0004000000000000001,3000.0,9900.0,...,2.73,2.5,0.7,0.0,18.0,180.0,100.0,130.0,sk0102,http://www.smartfarmkorea.net/Agree_WS/webserv...
1281,None,None,203,슈퍼탑_20160720,080300,2016-07-20,2016-12-31,B0004000000000000001,3000.0,9900.0,...,NaN,2.5,0.7,2.5,18.0,180.0,100.0,130.0,sk0102,http://www.smartfarmkorea.net/Agree_WS/webserv...
1282,00,NORMAL_CODE,325,토마토_레드찰,080300,2016-02-11,2016-12-31,B0004000000000000002,1500.0,NaN,...,NaN,NaN,0.7,NaN,18.0,80.0,100.0,NaN,sk0104,http://www.smartfarmkorea.net/Agree_WS/webserv...
1283,None,None,326,티티찰_2016,080300,2016-07-20,2016-12-31,B0004000000000000002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,80.0,NaN,NaN,sk0104,http://www.smartfarmkorea.net/Agree_WS/webserv...
1284,00,NORMAL_CODE,47,244_20160202,080300,2016-02-02,2016-12-31,B0004000000000000001,3000.0,9900.0,...,2.73,2.5,0.7,0.0,18.0,180.0,100.0,130.0,sk0118,http://www.smartfarmkorea.net/Agree_WS/webserv...

In [16]:
df_cropping.to_excel(excel_writer='df_cropping.xlsx')

### 환경정보

In [17]:
raw_id.columns
df_cropping.columns

Index(['statusCode', 'statusMessage', 'croppingSerlNo', 'croppingSeasonName',
       'itemCode', 'croppingDate', 'croppingEndDate', 'croppingSystem',
       'cultivationArea', 'calCultivationArea', 'plantNum', 'calPlantNum',
       'stemSlabNum', 'planSlabNum', 'plantDensity', 'standardPlantDensity',
       'floodlightDec', 'leafArea', 'stndTemp', 'stndWeight', 'stndSolar',
       'stndMeta', 'userId', 'urlapi'],
      dtype='object')

In [ ]:
# #딸기농가 아이디로 작기 table 불러오기

# df_id_list=list(df_cropping['croppingSerlNo']) 
# #getEnvDataList/{serviceKey}/{facilityId}/{measDate}/{fldCode}/{sectCode}/{fatrCode}/{itemCode}
# df_id_list

In [29]:
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCroppingSeasonDataList/fc918c3668964be490f67fe52bbef49c/'
list_df_cropping =[]
for i in range(2015,2022):
    # print(url_cropping)
    try:
        df_crop = pd.DataFrame(json.loads(requests.get(url_crop+str(i)).text))
        # df_crop['croppingSerlNo']=i
        list_df_cropping.append(df_crop)
    except json.decoder.JSONDecodeError:
        print('The string does NOT contain valid JSON')
df_cropping = pd.concat(list_df_cropping,ignore_index=True)
df_cropping

,statusCode,statusMessage,facilityId,addressName,croppingSerlNo,itemCode,itemName,croppingDate,croppingEndDate,acqAutoYn,acqManlYn,acqCultiYn,acqMgmtYn
0,00,NORMAL_CODE,PF_0000011_01,충청남도 논산시,24,080300,토마토,2015-01-31,2016-12-31,Y,N,Y,Y
1,None,None,PF_0001412_01,전라남도 화순군,301,080300,토마토,2015-05-01,2017-05-01,N,N,Y,N
2,None,None,PFS_0000006_01,전라북도 순창군,69,080300,토마토,2015-06-25,2016-12-31,N,N,Y,N
3,None,None,PF_0021257_01,전라북도 익산시,4476,080300,토마토,2015-07-01,2016-07-31,Y,N,N,N
4,None,None,PF_0001001_01,전라북도 장수군,21,080300,토마토,2015-07-10,2016-12-31,N,N,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,None,None,PF_0010056_01,충청남도 부여군,5031,080300,토마토,2021-12-18,2022-06-30,Y,Y,Y,N
1054,None,None,PF_0020762_01,충청남도 부여군,4558,090100,오이,2021-12-24,2022-05-30,Y,Y,Y,N
1055,None,None,PF_0020762_01,충청남도 부여군,5034,090100,오이,2021-12-28,2022-05-30,Y,Y,Y,N
1056,None,None,PF_0000227_01,전라남도 화순군,4732,080300,토마토,2021-12-30,2022-06-30,Y,Y,N,N
1057,None,None,PF_0022078_01,전라남도 화순군,4918,080300,토마토,2021-12-30,2022-06-30,Y,Y,N,N

In [19]:
df_cropping.columns

Index(['statusCode', 'statusMessage', 'facilityId', 'addressName',
       'croppingSerlNo', 'itemCode', 'itemName', 'croppingDate',
       'croppingEndDate', 'acqAutoYn', 'acqManlYn', 'acqCultiYn', 'acqMgmtYn'],
      dtype='object')

# 작기별 환경정보

In [30]:
df_cropping.shape

(1058, 13)

In [31]:
df_id_list=list(df_cropping['croppingSerlNo']) 
df_id_list[0]

24

In [94]:

# url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCroppingSeasonEnvDataList/fc918c3668964be490f67fe52bbef49c/'
# list_df_cropping =[]
# for i in df_id_list:
#     # print(url_cropping)
#     try:
#         for j in range(8):
#             df_crop = pd.DataFrame(json.loads(requests.get(url_crop+str(i)+'/'+str(j+1)).text))
#             df_crop['croppingSerlNo']=i
#             list_df_cropping.append(df_crop)
#     except json.decoder.JSONDecodeError:
#         print('The string does NOT contain valid JSON')
# df_cropping = pd.concat(list_df_cropping,ignore_index=True)
# df_cropping

In [32]:
# http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCroppingSeasonEnvDataList/{serviceKey}/{croppingSerlNo}/{pageNum}
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCroppingSeasonEnvDataList/fc918c3668964be490f67fe52bbef49c/'
list_df_cropping =[]
for i in df_id_list:
    # print(url_cropping)
    try:
        for j in range(5):
            df_crop = pd.DataFrame(json.loads(requests.get(url_crop+str(i)+'/'+str(j+1)).text))
            # df_crop['croppingSerlNo']=i
            list_df_cropping.append(df_crop)
    except json.decoder.JSONDecodeError:
        print('The string does NOT contain valid JSON')
df_temp = pd.concat(list_df_cropping,ignore_index=True)

,statusCode,statusMessage,facilityId,measDate,itemCode,fldCode,sectCode,fatrCode,senVal,ymd,cntCollect,num,totalRows,currentPage,totalPage
0,00,NORMAL_CODE,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EI,TI,14.44,20160401,24,1,96,1,0.0
1,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EO,WD,232.00,20160401,24,2,96,1,0.0
2,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EO,WS,None,20160401,24,3,96,1,0.0
3,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,NT,TL,19.84,20160401,24,4,96,1,0.0
4,None,None,PF_0000011_01,2016-04-01 01:00:00,080300,FG,EI,TI,14.25,20160401,14,5,96,1,0.0

In [54]:
df_temp.head(5)

,statusCode,statusMessage,facilityId,measDate,itemCode,fldCode,sectCode,fatrCode,senVal,ymd,cntCollect,num,totalRows,currentPage,totalPage,measDate2
0,00,NORMAL_CODE,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EI,TI,14.44,20160401,24,1,96,1,0.0,2021-02-05
1,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EO,WD,232.00,20160401,24,2,96,1,0.0,2021-02-05
2,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,EO,WS,None,20160401,24,3,96,1,0.0,2021-02-05
3,None,None,PF_0000011_01,2016-04-01 00:00:00,080300,FG,NT,TL,19.84,20160401,24,4,96,1,0.0,2021-02-05
4,None,None,PF_0000011_01,2016-04-01 01:00:00,080300,FG,EI,TI,14.25,20160401,14,5,96,1,0.0,2021-02-05

In [58]:
df_temp["ymd"]=="2022"

0          False
1          False
2          False
3          False
4          False
           ...
3948046    False
3948047    False
3948048    False
3948049    False
3948050    False
Name: ymd, Length: 3948051, dtype: bool

- EI : 실내환경, 작기 : 2021~2022

In [79]:
# df_env_ei=df_temp.loc[((df_temp["ymd"].str[:4]=="2022") | (df_temp["ymd"].str[:4]=="2021")) & (df_temp["sectCode"]=="EI")]
df_env_ei=df_temp.loc[(df_temp["ymd"].str[:4]=="2022") & (df_temp["sectCode"]=="EI")]
df_env_ei

,statusCode,statusMessage,facilityId,measDate,itemCode,fldCode,sectCode,fatrCode,senVal,ymd,cntCollect,num,totalRows,currentPage,totalPage,measDate2
161760,None,None,PF_0021861_01,2022-01-01 00:00:00,061401,FG,EI,HI,71.43,20220101,312,2970,3451,3,3.0,2021-02-05
161761,None,None,PF_0021861_01,2022-01-01 01:00:00,061401,FG,EI,HI,77.10,20220101,314,2971,3451,3,3.0,2021-02-05
161762,None,None,PF_0021861_01,2022-01-01 01:00:00,061401,FG,EI,TI,0.98,20220101,471,2972,3451,3,3.0,2021-02-05
161763,None,None,PF_0021861_01,2022-01-01 02:00:00,061401,FG,EI,HI,80.25,20220101,314,2973,3451,3,3.0,2021-02-05
161764,None,None,PF_0021861_01,2022-01-01 03:00:00,061401,FG,EI,TI,0.48,20220101,474,2974,3451,3,3.0,2021-02-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948037,None,None,PF_0022078_01,2022-01-18 00:00:00,080300,FG,EI,TI,13.00,20220118,21,4987,46246,5,46.0,2021-02-05
3948045,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,CI,429.00,20220118,7,4995,46246,5,46.0,2021-02-05
3948046,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,DT,9.00,20220118,7,4996,46246,5,46.0,2021-02-05
3948047,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,HI,72.67,20220118,21,4997,46246,5,46.0,2021-02-05
3948048,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,TI,13.67,20220118,21,4998,46246,5,46.0,2021-02-05

# 환경데이터

In [70]:
# from datetime import datetime
# import time
# print(df_env_ei['measDate'][1])
# dateformat="%Y-%m-%d %H:%M:%S"
# date=datetime.strptime(df_temp['measDate'][1],dateformat)
# date

In [80]:
df_env_ei['measDate'].str[:10]

161760     2022-01-01
161761     2022-01-01
161762     2022-01-01
161763     2022-01-01
161764     2022-01-01
              ...
3948037    2022-01-18
3948045    2022-01-18
3948046    2022-01-18
3948047    2022-01-18
3948048    2022-01-18
Name: measDate, Length: 25268, dtype: object

In [81]:
for i in df_env_ei.index:
    try:
        # df_env_ei['measDate2']=df_env_ei.loc[i,'measDate'].split(' ')[0]
        df_env_ei['measDate2']=df_env_ei['measDate'].str[:10]
    except AttributeError:
        df_env_ei['measDate2']=None

/tmp/ipykernel_23444/293151501.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_env_ei['measDate2']=df_env_ei['measDate'].str[:10]

In [87]:
df_env_ei

,statusCode,statusMessage,facilityId,measDate,itemCode,fldCode,sectCode,fatrCode,senVal,ymd,cntCollect,num,totalRows,currentPage,totalPage,measDate2,urlapi
161760,None,None,PF_0021861_01,2022-01-01 00:00:00,061401,FG,EI,HI,71.43,20220101,312,2970,3451,3,3.0,2022-01-01,http://www.smartfarmkorea.net/Agree_WS/webserv...
161761,None,None,PF_0021861_01,2022-01-01 01:00:00,061401,FG,EI,HI,77.10,20220101,314,2971,3451,3,3.0,2022-01-01,http://www.smartfarmkorea.net/Agree_WS/webserv...
161762,None,None,PF_0021861_01,2022-01-01 01:00:00,061401,FG,EI,TI,0.98,20220101,471,2972,3451,3,3.0,2022-01-01,http://www.smartfarmkorea.net/Agree_WS/webserv...
161763,None,None,PF_0021861_01,2022-01-01 02:00:00,061401,FG,EI,HI,80.25,20220101,314,2973,3451,3,3.0,2022-01-01,http://www.smartfarmkorea.net/Agree_WS/webserv...
161764,None,None,PF_0021861_01,2022-01-01 03:00:00,061401,FG,EI,TI,0.48,20220101,474,2974,3451,3,3.0,2022-01-01,http://www.smartfarmkorea.net/Agree_WS/webserv...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948037,None,None,PF_0022078_01,2022-01-18 00:00:00,080300,FG,EI,TI,13.00,20220118,21,4987,46246,5,46.0,2022-01-18,http://www.smartfarmkorea.net/Agree_WS/webserv...
3948045,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,CI,429.00,20220118,7,4995,46246,5,46.0,2022-01-18,http://www.smartfarmkorea.net/Agree_WS/webserv...
3948046,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,DT,9.00,20220118,7,4996,46246,5,46.0,2022-01-18,http://www.smartfarmkorea.net/Agree_WS/webserv...
3948047,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,HI,72.67,20220118,21,4997,46246,5,46.0,2022-01-18,http://www.smartfarmkorea.net/Agree_WS/webserv...
3948048,None,None,PF_0022078_01,2022-01-18 01:00:00,080300,FG,EI,TI,13.67,20220118,21,4998,46246,5,46.0,2022-01-18,http://www.smartfarmkorea.net/Agree_WS/webserv...

In [85]:
#http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getEnvDataList/{serviceKey}/{facilityId}/{measDate}/{fldCode}/{sectCode}/{fatrCode}/{itemCode}
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getEnvDataList/fc918c3668964be490f67fe52bbef49c/'
df_env_ei['urlapi'] = url_crop+df_env_ei['facilityId'].map(str)+'/'+df_env_ei['measDate2'].map(str)+'/'+df_env_ei['fldCode'].map(str)+'/'+df_env_ei['sectCode'].map(str)+'/'+df_env_ei['fatrCode'].map(str)+'/'+df_env_ei['itemCode'].map(str)+'/'
df_env_ei['urlapi']

/tmp/ipykernel_23444/228195458.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_env_ei['urlapi'] = url_crop+df_env_ei['facilityId'].map(str)+'/'+df_env_ei['measDate2'].map(str)+'/'+df_env_ei['fldCode'].map(str)+'/'+df_env_ei['sectCode'].map(str)+'/'+df_env_ei['fatrCode'].map(str)+'/'+df_env_ei['itemCode'].map(str)+'/'

161760     http://www.smartfarmkorea.net/Agree_WS/webserv...
161761     http://www.smartfarmkorea.net/Agree_WS/webserv...
161762     http://www.smartfarmkorea.net/Agree_WS/webserv...
161763     http://www.smartfarmkorea.net/Agree_WS/webserv...
161764     http://www.smartfarmkorea.net/Agree_WS/webserv...
                                 ...
3948037    http://www.smartfarmkorea.net/Agree_WS/webserv...
3948045    http://www.smartfarmkorea.net/Agree_WS/webserv...
3948046    http://www.smartfarmkorea.net/Agree_WS/webserv...
3948047    http://www.smartfarmkorea.net/Agree_WS/webserv...
3948048    http://www.smartfarmkorea.net/Agree_WS/webserv...
Name: urlapi, Length: 25268, dtype: object

In [ ]:
# url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/ProvideRestService/getStrbCultivateDataList/fc918c3668964be490f67fe52bbef49c/'
urldata=list(df_env_ei['urlapi'])
list_df_cropping =[]
for i in urldata:
    # print(i)
    try:
        df_crop = pd.DataFrame(json.loads(requests.get(i).text))
        # print(df_crop)
        list_df_cropping.append(df_crop)
    except json.decoder.JSONDecodeError:
        print('The string does NOT contain valid JSON')
df_env_f = pd.concat(list_df_cropping,ignore_index=True)
df_env_f

In [ ]:
df_son_temp.loc[df_son_temp['sectCode']=='EI']

# 작기별 생육 정보

In [ ]:
df_id_list=list(df_cropping['croppingSerlNo']) 
df_id_list[0]

In [ ]:
# http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCroppingSeasonEnvDataList/{serviceKey}/{croppingSerlNo}/{pageNum}
url_crop= 'http://www.smartfarmkorea.net/Agree_WS/webservices/CropseasonRestService/getCultivateDataList/fc918c3668964be490f67fe52bbef49c/'
list_df_cropping =[]
for i in df_id_list:
    # print(url_cropping)
    try:
        df_crop = pd.DataFrame(json.loads(requests.get(url_crop+str(i)).text))
        # df_crop['croppingSerlNo']=i
        list_df_cropping.append(df_crop)
    except json.decoder.JSONDecodeError:
        print('The string does NOT contain valid JSON')
df_temp = pd.concat(list_df_cropping,ignore_index=True)